---------------------------------------------------------------------
-- SQLNHSOne011a.sql
---------------------------------------------------------------------
-- SQL code from  'SQL NHS Part One'  © 2019 edgarbolton@outlook.com
---------------------------------------------------------------------
-- Author: E.Bolton
-- Last updated: 31/08/2019 
---------------------------------------------------------------------


/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Code]
      ,[Meaning]
  FROM [NHSSQL].[dbo].[CSV02]
